body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  background-color: #eee;
  border-radius: 6px;
  width: 100%;
  max-width: 450px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
